@layer components {
  /* Input Fields */
  .input-field-wrapper {
    @apply w-full
    rounded-lg
    border
    border-highlight-color-900/60
    bg-transparent
    flex
    relative
    h-10;
  }

  .text-area-wrapper {
    @apply w-full
    rounded-lg
    border
    border-highlight-color-900/60
    bg-transparent
    flex
    relative
    min-h-[4rem];
  }

  .input-field {
    @apply w-[calc(100%-3rem)]
    border-2
    border-none
    bg-transparent
    placeholder-highlight-color-900/60
    placeholder-opacity-100
    p-4
    text-sm
    h-full;
  }

  .input-field:focus {
    @apply outline-none;
  }

  .checkbox {
    @apply w-5 
      h-5 
      bg-transparent
      border
      rounded
      border-highlight-color-900;
  }

  .sun-editor-wrapper {
    @apply w-full
    bg-transparent
    flex
    flex-col
    relative;
  }

  .radio-input-wrapper {
    @apply w-1/3
    flex
    items-center;
  }

  .label-radio-input {
    @apply peer-checked:bg-highlight-color-900
    peer-checked:text-background-primary-900
    hover:bg-background-ternary-900
     w-full
     transition
     border
     border-highlight-color-900
     p-2
     rounded
     text-center
     font-mono
     text-lg;
  }

  .reactions-wrapper {
    @apply w-full
    flex
    flex
    justify-start
    flex-wrap;
  }

  .reaction-input-wrapper {
    @apply w-16
    h-10;
  }

  .label-reaction-input {
    @apply w-full
    h-full
    flex
    justify-center
    items-center
    border
    cursor-pointer
    rounded
    border-highlight-color-900
    text-highlight-color-900
    peer-checked:text-background-primary-900
    peer-checked:bg-highlight-color-900
    text-xl;
  }
}
