/* 
Import fonts here
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* 
Import Tailwind modules here
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary{
    background-color: #151617;
}

.bg-secondary{
    background-color: #1E2021;
}

.bg-accent{
    background-color: #90CA9C;
}